@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Project"]</h1>
    <p>UserName: @ViewData["Username"]</p>
    <p>Password: @ViewData["Password"]</p>
</div>
